{% extends 'art_app/base_template.html' %}


{% block content %}
    
    <div class="container-fluid ps-3">
        <h1>Inventory: {{ inventory.title }}</h1>
        <p>Oh howdy</p>
        {% if item_list %}
            
            <ul>
            {% for item in item_list %}
                <li>
                <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>There are no items in this inventory.</p>
        {% endif %}

        <a class="btn btn-primary" href="{% url 'create-item' inventory.id %}" role="button">New Item</a>

    </div>
{% endblock %}