{% extends 'art_app/base_template.html' %}


{% block content %}
    
    <div class="container-fluid ps-3">

        <h1>Item: {{ item.name }}</h1>

        <p>
            <strong>Name: </strong> {{ item.name }} <br>
            <img src="{{ item.item_Img.url }}"> <br>
            <strong>Quantity: </strong> {{ item.quantity }} <br>
            <strong>Type: </strong> {{ item.item_Type }}

        </p>
        <a class="btn btn-primary" href="{% url 'edit-item' item.id %}" role="button">Edit Item</a>
        <a class="btn btn-primary" href="{% url 'delete-item' item.id %}" role="button">Delete Item</a>
    </div>
{% endblock %}